{% extends "base.html" %}

{% block content %}
<section class="hero">
    <h1>Smart Waste Classification System using CNN Model</h1>
    <p>Upload waste images and instantly detect if it is Organic or Recyclable.</p>

    <a href="/classify" class="btn">Classify Now</a>

    <div class="stats">
        <div class="card">
            <h2>2</h2>
            <p>Categories</p>
        </div>
        <div class="card">
            <h2>88%</h2>
            <p>Model Accuracy</p>
        </div>
        <div class="card">
            <h2>AI</h2>
            <p>Deep Learning Model</p>
        </div>
    </div>
</section>
{% endblock %}